.window {
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background: black;
    color: white;
    height: fit-content;
    width: fit-content;
    max-width: 400px;
    max-height: 400px;
}
.header {
    font-weight: bold;
    width: 100%;
    text-align: center;
    
}
.output {
    background: #222;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}
button {
    border-radius: 0px;
    background: red;
    color: black;
    border: darkred 1px solid;
}